@font-face {
  font-family: CrimeFighter;
  src: url(../Font/CRIMFBRG.TTF);
}

@font-face {
  font-family: LuckiestGuy;
  src: url(../Font/luckiest-guy.regular.ttf);
}

.hero {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 40px;
  width: 100%;
}

.buttonShopNow {
  /* margin: auto; */
  font-family: LuckiestGuy;
  margin-top: 500px;
  padding: 1rem;
  width: 200% !important;
}

.positionButton {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center !important;
  align-items: center !important;
  background-color: bisque;
  margin-right: 150px;
  text-decoration: none !important;
}


.img-wrapper{
  background-image: url(../assets/images/background-hero.jpg);
  background-position: center;
  background-size: cover;
  width: 100%;
  margin-top: 72px;
}
