a {
  color: white;
}
.header {
  background-color: #181818;
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
  z-index: 1;
  background-image: url(../images/dios-01-01-01.png);
  object-fit: contain;
  background-position: center;
  background-size: cover;
}
.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: transparent;
}

.header ul a {
  display: block;
  padding: 20px;
  text-decoration: none;
}

.photos {
  width: 3%;
  margin-top: 0.3%;
}

.header ul a:hover {
  color: orange;
  transition: 0.2s ease-in-out;
  transform: scale(1.2);
}
.header .logo {
  float: left;
  font-size: 25px;
  padding: 10px 20px;
}

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height 0.2s ease-out;
}

.header .menu-icon {
  padding: 28px 20px;
  position: relative;
  float: right;
  cursor: pointer;
  margin-top: 6px;
}

.header .menu-icon .nav-icon {
  background-color: rgb(255, 254, 254);
  display: block;
  width: 18px;
  height: 2px;
  position: relative;
  transition: background-color 0.5s ease-out;
}

.header .menu-icon .nav-icon::after {
  background-color: rgb(255, 253, 253);
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  transition: all 0.5s ease-out;
  position: absolute;
  top: 5px;
}
.header .menu-icon .nav-icon::before {
  background-color: rgb(255, 255, 255);
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  transition: all 0.5s ease-out;
  position: absolute;
  top: -5px;
}

.header .menu-btn {
  display: none;
}
.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon {
  background-color: transparent;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon::before {
  transform: rotate(-45deg);
  top: 0;
}
.header .menu-btn:checked ~ .menu-icon .nav-icon::after {
  transform: rotate(45deg);
  top: 0;
}

@media (min-width: 990px) {
  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 30px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: 0;
  }
  .header .menu-icon {
    display: none;
  }
}

@media (min-width: 990px) {
  .header .menu {
    max-height: none;
    display: block;
  }

  .header .menu-icon {
    display: none;
  }
}

@media (max-width: 650px) {
  .header .menu {
    max-height: none;
    display: none;
  }

  .header .menu-icon {
    display: block;
  }

  .header .menu-btn:checked ~ .menu {
    display: block;
    max-height: 1000px;
    padding-top: 20px;
  }

  .header li {
    float: none;
    text-align: center;
  }

  .header ul a {
    padding: 0;
  }

  .header li a {
    padding: 0;
    display: block;
  }
  .btnContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
    width: 100%;
  }
  .header .logo {
    display: block;
    margin: auto;
  }
}
@media (max-width: 350px){
  .header .logo {
    display: block;
    margin: auto;
    width: 70vw;
  }
}
@media (max-width: 320px){
  .header{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .header .logo{
    padding: 0;
    margin: 0;
  }
  .logo img{
    width: 100%;
    height: 100%;
    margin: auto;
  }
}
