* {
  box-sizing: border-box;
}

.search {
  margin: 5rem auto;
  position: relative;
  width: 50%;
  height: 70px;
  border-radius: 44px;
  border: 1px solid white;
  background: transparent;
  color: white;
  font-size: 24px;
  font-family: inherit;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.search input {
  width: 40%;
  height: 44px;
  padding: 0 10px 0 0;
  border: none;
  background: transparent;
  color: white;
  font-size: 24px;
  font-family: inherit;
  outline: none;
}

.search-icon-button{
    background: transparent;
    border: none;
}

.search-icon {
  height: 40px;
  width: 40px;
}

@media screen and(max-width<992px) {
  .search {
    width: 400px;
  }
}
