* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.cardContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 105%;
    padding: 1rem;
    /* backdrop-filter: blur(3px); */
    background: linear-gradient(135deg,rgba(255, 166, 0, 0.082),rgba(0, 0, 0, 0));
    filter: drop-shadow(3px 3px 10px #ffffff31);
}

.Link:hover {
    text-decoration: none;
}

.singleCard {
    margin-top: 2rem;
    /* padding-left: 20%; */
    cursor: pointer;
    display: flex !important;
    flex-direction: column;
    padding-bottom: 1rem;
    object-fit: contain;
    align-items: center;
    justify-content: center;
    align-self: center;
    width: 100%;
    /* display: inline; */
}

.scoprilo {
    width: 300px;
    border-radius: 10px;
    text-decoration: none;
    font-family: LuckiestGuy;
}

.singleCard img:hover {
    transform: scale(105%);
    transition: 0.5s;
}

.singleCard img {
    max-width: 300px;
    object-fit: contain;

}

.singleCard h2 {
    margin-top: .5rem;
    font-size: 24px;
    color: orange;
    font-family: LuckiestGuy;
}

.scopri {
    color: black;
    padding: .5rem;
    background-color: rgb(255, 213, 0);
    font-weight: bold;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.slick-dots li button:before {
    display: none;
}

.slick-arrow.slick-prev {
    margin-left: 2rem;
    /* padding: 10px; */
}

.slick-arrow.slick-next {
    margin-right: 2rem;
    /* padding: 10px; */
}

@media screen and (max-width: 1200px) {
    .singleCard img {
        max-width: 250px;
    }

    .scoprilo {
        width: 250px;
    }
}

@media screen and (max-width: 650px) {
    .singleCard img {
        max-width: 300px;
    }

    .scoprilo {
        width: 300px;
    }
}


@media screen and (max-width: 600px) {
    .cardContainer img {
        gap: 1rem;
        max-width: 250px;
        /* max-width: 100px; */
        object-fit: contain;
    }

    .scoprilo {
        width: 250px;
    }

    .singleCard {
        /* width: 100px; */
        padding-left: 30%;
        align-items: center;
        justify-content: center;
        align-self: center;
        text-align: center;
    }

    .cardContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        padding: 1rem;

    }


}