.welcome-container {
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 500px;
  margin-top: 2rem;
}

.main-title {
  font-size: 72px;
  color: white;

}

.container {
  margin: 5rem;
  height: 300px;
  width: 70%;
  padding: 1rem;
  background-color: rgb(177, 177, 177);
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.buttonJoin-container {
    /* margin-right:100%; */
    font-family: LuckiestGuy;
    /* margin-top: 500px; */  
    width: 15% !important;
    height: 30px;
}
.buttonJoin{
  padding: 1.5rem;

}

.welcome-img {
  height: 270px;
  width: 350px;
  border-radius: 10%;
  object-fit: cover;
}

.content {
  width: 70%;
}

.copy {
  font-size: 24px;
  line-height: 2.5rem;
}

@media (max-width: 1480px) {
  .copy {
    font-size: 18px;
  }
}

@media (max-width: 1365px) {
  .copy {
    font-size: 14px;
    line-height: 1.3rem;
  }

  .container {
    height: 200px;
  }

  .welcome-img {
  height: 150px;
  width: 200px;
  border-radius: 10%;
}
}

@media (max-width: 790px) {
  .main-title {
    font-size: 50px;
  }
}
