.container-elShop {
    background-image: url(./images/provaBackground.png);
    background-color: black;
    width: 100%;
    height: 100%;
    font-family: LuckiestGuy;
    color: white;
    flex-direction: column;
    align-items: center;
}

@font-face {
    font-family: CrimeFighter;
    src: url(../Font/CRIMFBRG.TTF);
}

@font-face {
    font-family: LuckiestGuy;
    src: url(../Font/LuckiestGuy-Regular.TTF);
}

.rightside {
    padding-left: 1rem;
    /* flex-wrap: wrap; */
}

.cardsWrapper {
    /* background-image: url(./images/provaBackground.png);     */
    display: flex;
    flex-direction: column;
    align-items: center;

}

.singleProduct {
    display: flex;
    width: 75%;
    /* flex-wrap: wrap; */
    margin-top: 6rem;
}

.singleProduct img {
    height: 250px;
    width: 250px;
    object-fit: contain;
}

.singleProduct img:hover {
    scale: 120%;
    transition: 1s;
}

.aggiungi {
    color: black;
    padding: .5rem;
    background-color: orange;
    font-weight: bold;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.aggiungi:hover {
    transform: scale(110%);
    transition: 0.2s;
}

.potrebbe {
    color: orange;
}

.price {
    font-size: 50px;
    color: white;
}

.rightside h4 {
    font-style: italic;
    color: orange;
}

.rightside h5 {
    color: orange;
}

.rightside input {
    margin-left: .5rem;
    background-color: black;
    border: solid 1px orange;
    color: orange;
    border-radius: 3px;
    padding: .5rem;
}

.rightside input {
    margin-left: .5rem;
    background-color: black;
    border: solid 1px orange;
    color: orange;
    border-radius: 3px;
    padding: .5rem;
}

.rightside p {
    font-family: CrimeFighter;
}

.quantity {
    margin-left: 1rem;
}

.buttonInput {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

@media screen and (max-width: 768px) {
    .singleProduct {
        /* display: flex;
        width: 75%; */
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        text-align: center;
        /* margin-top: 6rem; */
    }

    .buttonInput {
        display: flex;
        flex-direction: column;
    }

    .buttonInput label {
        margin-top: 1rem;
    }
    .rightside p {
        font-size: 15px;
    }

}
@media screen and (max-width: 600px) {
    .rightside p {
        font-size: 10px;
    }
}