/* .cardsWrapper {
    display: flex;
    width: 100%;
    padding: 1rem;
}

.singleCard {
    margin-left: 50px;
    margin-right: 50px;
    cursor: pointer;
}

.singleCard img:hover {
    transform: scale(110%);
    transition: 0.5s;
}

.singleCard h2 {
    font-size: 1.5rem;
}

.scopri {
    color: white;
    padding: .5rem;
    background-color: red;
    font-weight: bold;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.scopri:hover {
    transform: scale(110%);
    transition: 0.2s;
}

.carousel-item.active {
    display: flex;
    justify-content: center;
    padding: 1rem;
    width: 100%;
} */