*{
  color: white;
}

.header {
  width: 100%;
  height: 100%;
  background: rgb(0, 0, 0);
  display: flex;
  flex-direction: row;
  align-items: center;
}

.icons-header {
  width: 18%;
  height: 70%;
  display: flex;
  gap: 1em;
}

.logo-MYS {
  width: 30%;
  height: 100%;
  display: flex;
  align-items: center;
}

#logo-MYS {
  height: 80%;
}

.links-header {
  width: 45%;
  height: 80%;
  display: flex;
  flex-direction: column;
}

#links-header {
  width: 100%;
  height: 70%;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
  gap: 7em;
}

.links-h {
  text-decoration: none;
  color: white;
  font-size: 25px;
}

#hr-header {
  height: 5px;
  background: white;
}

#icons1-header {
  width: 25%;
  height: 100%;
}

.content-news {
  height: 120vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#news{
  color: white;
  font-size: 100px;
}

#p-news {
  color: white;
  text-align: center;
}

.content2-news {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 30px;
}

.links-news {
  display: flex;
  flex-direction: row;
  gap: 1em;
}

#x {
  height: 50px;
  width: 50px;
}

#ig {
  height: 50px;
  width: 50px;
}

#discover {
  color: rgb(238, 146, 7);
}

.kickstarter {
  display: flex;
  flex-direction: row;
  gap: 1em;
  width: 100%;
  height: 30%;
  align-items: center;
  justify-content: center;
}

#kickstarter {
  width: 300px;
  height: 170px;
  margin-top: 5px;
}

#join-us {
  color: white;
}

.content-discover {
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

#newsflash {
  color: rgb(255, 255, 255);
  font-size: 70px;
}

.card-discover {
  width: 66%;
  height: 28%;
  background: rgba(255, 255, 255, 0.781);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1.8em;
}

.img-discover {
  width: 30%;
  height: 90%;
  background: blue;
  border-radius: 20px;
}

.text-discover {
  width: 60%;
  height: 90%;
  display: flex;
  flex-direction: column;
}

.update {
  width: 100%;
  height: 22%;
  color: black;
}

#update {
  font-size: 30px;
  color: black;
}

#welcome {
  font-size: 21px;
  color: black;
}

#signUp-discover {
  color: rgb(211, 241, 76);
}

.kickstarter-discover {
  width: 100%;
  height: 20%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

#kickstarter-discover {
  width: 60%;
  height: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
}

#kickstarter-logo-discover {
  width: 300px;
  height: 170px;
}

.cart-header {
  margin-top: 10px;
}

.exit {
  width: 10%;
  height: 100%;
  display: flex;
  justify-content: center;
}

header.changed {
  background: rgba(0, 0, 0, 0);
}

#x-exit {
  width: 20%;
  height: 20%;
}

