* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-el {
    background-image: url(./images/provaBackground.png);
    background-color: black;
    width: 100%;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    /* display: flex; */
    align-items: center;
}

.NavBarPlaceholder {
    height: 10%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.494);
}

.ShopPreview {
    font-size: 3rem;
    padding-top: 2rem;
}

.sliderContainer {
    padding-left: 3rem;
    padding-right: 3rem;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.scrittacentrale {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.scrittacentrale h1 {
    font-size: 50px;
}