* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.cardContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin-top: 1rem;
}

.singleCard {
    margin-top: 2rem;
    padding-left: 6rem;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    padding-bottom: 1rem;
}

.singleCard img:hover {
    transform: scale(110%);
    transition: 0.5s;
}

.singleCard h2 {
    margin-top: .5rem;
    font-size: 1rem;
    width: 50%;
}

.scopri {
    color: white;
    padding: .5rem;
    background-color: red;
    font-weight: bold;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.scopri:hover {
    transform: scale(110%);
    transition: 0.2s;
}