*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: cursive;
}
.containerlogin{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    // background-position: center;
    // background-size: cover;
    // background-image: url("https://img.freepik.com/free-vector/lightspeed-travel-background-centric-motion-star-trails_1217-3827.jpg?w=1480&t=st=1706561893~exp=1706562493~hmac=297a9c7f89533d77ce1ed0cc43aeb72a35dd3c640663b7c65cff86b3846bdfa0")
    background-color: #181818;
}

.login{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.containerForm{
    width: 55%;
    height: 75%;
    display: flex;
    border: 1px solid rgba(0, 0, 0, 0.289);
    border-radius: 15px; 
    background-color: transparent;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(245, 245, 245, 0.034);
}

.imgform{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    width: 70%;
}

input{
    background-color: transparent;
    height: 10%;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-color: rgb(255, 255, 255);
    outline: none;
    width: 100%;
    color: whitesmoke;
}
input::placeholder{
    color: whitesmoke;
    font-size: 20px;
}
//////////////////////////////////////////////
.form button {
    width: 100%;
    height: 15%;
    position: relative;
    transition: all 0.3s ease-in-out;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    padding-block: 0.5rem;
    padding-inline: 1.25rem;
    background-color: #181818;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: #ffff;
    font-weight: bold;
    border: 3px solid #ffffff4d;
    outline: none;
    overflow: hidden;
    font-size: 20px;
}
  
.form button:hover {
    transform: scale(1.05);
    border-color: #fff9;
}
  
.form button:hover::before {
    animation: shine 1.5s ease-out infinite;
}
  
.form button::before {
    content: "";
    position: absolute;
    width: 100px;
    height: 100%;
    background-image: linear-gradient(
      120deg,
      rgba(255, 255, 255, 0) 30%,
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0) 70%
    );
    top: 0;
    left: -100px;
    opacity: 0.6;
}
  
@keyframes shine {
    0% {
      left: -100px;
    }
  
    60% {
      left: 100%;
    }
  
    to {
      left: 100%;
    }
}
///////////////////////////////////////////////
.signin{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5vw;
    color: whitesmoke;
    
}
.displayflex{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.imgform img {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    
}
.donthave{
    color: whitesmoke;
    font-size: 1vw;
}
.donthave a {
    color: #ddea6f;
    text-decoration: none;
}

@media screen and (max-width: 1030px) {

}

@media screen and (max-width: 760px) {
    .login{
        width: 100%;
        height: 100%;
        // background-image: url("Prova-sfondo-slide.png");
        // background-position: center;
        // background-size: cover;
    }
  .containerForm{
    width: 70vw;
    display: flex;
    flex-direction: column;
  }
  .displayflex{
    display: none;
  }
  .imgform{
    display: none;
  }
  .imgform img{
    display: none;
  }
  .donthave{
    font-size: 2.5vw;
  }
}
@media screen and (max-width: 500px) {
.containerForm{
    width: 80vw;
}
}
